<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cmb</key>
	<string>招商银行</string>
	<key>ceb</key>
	<string>光大银行</string>
	<key>cgb</key>
	<string>广发银行</string>
	<key>hxb</key>
	<string>华夏银行</string>
	<key>bob</key>
	<string>北京银行</string>
	<key>gzcb</key>
	<string>广州商业银行</string>
	<key>pab</key>
	<string>平安银行</string>
	<key>ccb</key>
	<string>中国建设银行</string>
	<key>abc</key>
	<string>中国农业银行</string>
	<key>cmbc</key>
	<string>民生银行</string>
	<key>cib</key>
	<string>兴业银行</string>
	<key>spdb</key>
	<string>浦发银行</string>
	<key>cncb</key>
	<string>中信银行</string>
	<key>icbc</key>
	<string>中国工商银行</string>
	<key>boc</key>
	<string>中国银行</string>
	<key>bocom</key>
	<string>交通银行</string>
	<key>bsb</key>
	<string>包商银行</string>
	<key>cbhb</key>
	<string>渤海银行</string>
	<key>czb</key>
	<string>浙商银行</string>
	<key>hzb</key>
	<string>杭州银行</string>
	<key>jsb</key>
	<string>江苏银行</string>
	<key>nbcb</key>
	<string>宁波银行</string>
	<key>njcb</key>
	<string>南京银行</string>
	<key>srcb</key>
	<string>上海农商银行</string>
	<key>xib</key>
	<string>厦门国际银行</string>
	<key>bos</key>
	<string>上海银行</string>
	<key>alipay</key>
	<string>支付宝</string>
	<key>psbc</key>
	<string>中国邮政储蓄</string>
	<key>dfcf</key>
	<string>东方财富</string>
	<key>otherbanks</key>
	<string>其他银行</string>
	<key>jsfund</key>
	<string>嘉实基金</string>
	<key>lionfund</key>
	<string>诺安基金</string>
	<key>nfund</key>
	<string>南方基金</string>
	<key>efmc</key>
	<string>易方基金</string>
	<key>camc</key>
	<string>华夏基金</string>
	<key>bosera</key>
	<string>博时基金</string>
</dict>
</plist>
