<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>选择起售金额</key>
	<array>
		<dict>
			<key>title</key>
			<string>不限</string>
			<key>content</key>
			<string>none</string>
			<key>selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>title</key>
			<string>5万以下</string>
			<key>content</key>
			<string>0-5000000</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>5至10万</string>
			<key>content</key>
			<string>5000000-10000000</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>10万以上</string>
			<key>content</key>
			<string>10000000-*</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
	</array>
	<key>选择期限</key>
	<array>
		<dict>
			<key>title</key>
			<string>不限</string>
			<key>content</key>
			<string>none</string>
			<key>selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>title</key>
			<string>30天以下</string>
			<key>content</key>
			<string>0-30</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>31-90天</string>
			<key>content</key>
			<string>31-90</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>91-180天</string>
			<key>content</key>
			<string>91-180</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>181-365天</string>
			<key>content</key>
			<string>181-365</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>365天以上</string>
			<key>content</key>
			<string>365-*</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
	</array>
	<key>选择收益率</key>
	<array>
		<dict>
			<key>title</key>
			<string>不限</string>
			<key>content</key>
			<string>none</string>
			<key>selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>title</key>
			<string>2%以上</string>
			<key>content</key>
			<string>200-*</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>5%以上</string>
			<key>content</key>
			<string>500-*</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>8%以上</string>
			<key>content</key>
			<string>800-*</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
	</array>
	<key>选择货币</key>
	<array>
		<dict>
			<key>title</key>
			<string>不限</string>
			<key>content</key>
			<string>none</string>
			<key>selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>title</key>
			<string>人民币</string>
			<key>content</key>
			<string>人民币</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>美元</string>
			<key>content</key>
			<string>美元</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>欧元</string>
			<key>content</key>
			<string>欧元</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>英镑</string>
			<key>content</key>
			<string>英镑</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>港币</string>
			<key>content</key>
			<string>港币</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>澳元</string>
			<key>content</key>
			<string>澳元</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>日元</string>
			<key>content</key>
			<string>日元</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
	</array>
	<key>选择区域</key>
	<array>
		<dict>
			<key>title</key>
			<string>全国</string>
			<key>content</key>
			<string>none</string>
			<key>selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>title</key>
			<string>北京</string>
			<key>content</key>
			<string>北京</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>上海</string>
			<key>content</key>
			<string>上海</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>广州</string>
			<key>content</key>
			<string>广州</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
	</array>
	<key>选择保本类型</key>
	<array>
		<dict>
			<key>title</key>
			<string>不限</string>
			<key>content</key>
			<string>none</string>
			<key>selected</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>title</key>
			<string>保本</string>
			<key>content</key>
			<string>1</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>title</key>
			<string>非保本</string>
			<key>content</key>
			<string>0</string>
			<key>selected</key>
			<string>NO</string>
		</dict>
	</array>
</dict>
</plist>
