<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>0</key>
		<dict>
            <key>bank</key>
            <key>qianbb</key>
            <key>content</key>
            <string>可投资金额：</string>
            <key>amount</key>
            <string>2000</string>
            <key>name</key>
            <key>钱宝宝账户支付</key>
		</dict>
        
        
		<key>1</key>
		<dict>
            <key>bank</key>
            <key>ccb</key>
            <key>content</key>
            <string>每日限额2000元，可在网银调整</string>
            <key>amount</key>
            <string>2000</string>
            <key>name</key>
            <key>中国建设银行</key>
		</dict>
		<key>2</key>
		<dict>
            <key>bank</key>
            <key>bocom</key>
            <key>content</key>
            <string>每日限额五万元，可在网银调整</string>
            <key>amount</key>
            <string>50000</string>
            <key>name</key>
            <key>交通银行</key>
		</dict>
        <key>3</key>
		<dict>
            <key>bank</key>
            <string>spdb</string>
            <key>content</key>
            <string>每日限额5000元，可在网银调整</string>
            <key>amount</key>
            <string>5000</string>
            <key>name</key>
            <key>浦发银行</key>
		</dict>
        
        <key>4</key>
        <dict>
            <key>bank</key>
            <string>bob</string>
            <key>content</key>
            <string>单笔限额1000元</string>
            <key>amount</key>
            <string>1000</string>
            <key>name</key>
            <key>北京银行</key>
        </dict>
        
		<key>5</key>
		<dict>
            <key>bank</key>
            <key>srcb</key>
            <key>content</key>
            <string></string>
            <key>amount</key>
            <string>100000000</string>
            <key>name</key>
            <key>上海农商银行</key>
		</dict>
        
        
        <key>6</key>
        <dict>
            <key>bank</key>
            <string>gzcb</string>
            <key>content</key>
            <string></string>
            <key>amount</key>
            <string>100000000</string>
            <key>name</key>
            <key>广州商业银行</key>
            
        </dict>
        <key>7</key>
        <dict>
            <key>bank</key>
            <string>otherbanks</string>
            <key>content</key>
            <string>电脑端我们支持超过24家银行</string>
            <key>amount</key>
            <string>100000000</string>
            <key>name</key>
            <key>其他银行</key>
        </dict>
        
    </dict>
    
</plist>
