<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>钱先生是在代销银行理财产品吗?</key>
	<string>钱先生不是银行理财产品的代销渠道，并不是与银行合作代销理财产品，而是接受用户的委托，代购银行理财产品。
类似的例子我们可以参考火车票代购业务，尽管铁道部从未授权给第三方销售火车票，但仍有相当多的网站平台在提供代购火车票的服务，而代购服务并不需要 铁道部的授权，只需要与用户之间形成委托关系即可。对于这种模式的法律分析，可以参考代购火车票的法律思考</string>
	<key>钱先生可以防止购买理财产品时的误导吗?</key>
	<string>根据相关数据显示，70%的银行理财购买者曾经遭受销售误导，本来是想买理财产品，但最后却买了保险产品，这种情况很常见。但是，在钱先生网站绝不会发生 这种情况，通过钱先生的精准搜索引擎，最终提供给用户的都是真实有效的理财产品信息，剔除了人为干扰因素。 同时，钱先生也不会主动向用户推荐任何产品，信息的显示全部是依据用户选定的排序方式执行的，为用户提供了一个安全、干净、透明的购买环境。</string>
    
    <key>在钱先生平台资金安全吗?</key>
	<string>钱先生是首家支持银行理财产品团购的高科技互联网信息服务平台。我们采用专业的互联网技术手段从金融机构公开发布的官方信息中进行检索，并由接受您的委 托，通过计算机系统进行自动化的理财产品购买服务。
        我们是一个站在用户立场提供免费互联网信息服务的平台，不是一个代销平台，也不是一个理财产品的发行机构，因此我们无法承诺您的理财收益，但我们可以承 诺您的购买过程是百分之百安全的。
        您的理财金首先会通过银行支付并存放在第三方支付平台中由银行进行监管，在购买成功后，理财金就会通过计算机系统自动进入银行系统成为理财产品。 如果未购买成功，或者理财产品到期，则您的理财金将会在第一时间由第三方支付平台直接退回到您的银行卡中，整个购买过程中您的资金将会受到第三方支付平 台和银行系统严密的监控和保护，如果在支付过程中发生任何理财金丢失的情况，我们承诺将百分之百赔付。</string>
    
	<key>手续费如何计算?</key>
	<string>在钱先生平台做交易，钱先生本身不会收取用户任何手续费；
        第三方支付和银行会根据情况收取不等的手续费。手续费分为两部分，计算规则如下：
        1、本金部分：从支付成功日期开始算，到用户申请提现日期，如果超过90天，则收取投资金额千分之二的交易手续费，如果低于90天则免除这部分手续费；
        2、收益部分：如果收益低于一万元，收取1元手续费；如超过一万元，则收取2元手续费；
        3、手续费都将在您申请提现的时候收取；
        4、建议您支付成功后，尽量不要在90天左右提现。您可以选择短期产品规避这部分手续费，或者增加投资时间，收益部分可以很快抵消掉手续费。</string>
    
    
    
    <key>成团失败怎么办?</key>
	<string>如果产品销售火爆，银行提前售罄产品，或团购金额达不到最低购买金额标准，则有可能成团失败，成团失败后系统会在当日原路返还投资本金到您的支付卡上。 一般情况下，系统会在当日转账，到账时间取决于银行结算周期，最迟到账时间不超过3个工作日。 如果成团失败，系统不会收取任何手续费。。</string>
    <key>100元理财本金如何使用?</key>
	<string>活动期间，系统会为每一位注册用户赠送100元理财本金，100元理财本金不可提现，但是可以在一定周期内循环投资，投资产生的收益可以提现。</string>
    <key>收不到注册验证码怎么办?</key>
	<string>由于移动网络阻塞，有时候手机会延迟或无法收取短信验证码，您可以重试，如果多次重试仍然无法收取，请拨打4006-576-676 联系客服协助您解决。</string>
    
    
    <key>无法输入金额怎么办?</key>
	<string>在产品购买页面如无法输入金额，请检查您的小键盘“numLock”是否打开，如果未正常打开，键盘上的“numLock”指示灯熄灭状态，则无法正常输入金额。</string>
    <key>什么是银行理财产品，银行理财产品有哪些类型?</key>
	<string>商业银行在对潜在目标客户群分析研究的基础上，针对特定目标客户群开发设计并销售的资金投资和管理计划。在理财产品这种投资方式中，银行只是接受客户 的授权管理资金，投资收益与风险由客户或客户与银行按照约定方式承担。 一般根据预期收益的类型，我们将银行理财产品分为固定收益产品、浮动收益产品两 类。另外按照投资方式与方向的不同，新股申购类产品、银信合作品、QDII产品、结构型产品等，也是我们经常听到和看到的说法。</string>
    <key>理财产品的保本和非保本是什么意思?</key>
	<string>保本浮动收益理财产品是指银行按照约定向客户保证本金支付，本金以外的投资风险由客户承担，并依据实际投资收益情况确定客户实际收益的理财产品，反之 就是非保本型。</string>
    <key>保本理财产品完全没有本金受损的风险吗?</key>
	<string>如果理财产品是保本或者保证收益型的，那么在产品到期时，至少投资者投入的本金不会发生损失。不过，有的理财产品保本是有条件的，并设置了到期保本条 款，即持有至产品到期才保本，那么投资者如若中途赎回，则该产品照样不保本。还有一些理财产品仅为部分保本型，比如设置95%保本，则本金最多损失5%。 因此投资者在购买时应注意阅读相关条款。</string>
    <key>理财产品的风险大吗?</key>
	<string>理财产品的风险根据理财产品类型的变化而变化。固定收益类理财产品风险较低，实现预期收益率的把握较大，基本都能实现预期收益率。浮动收益类理财产品 则要结合是否保本来分析：如果是保本或者保证收益型理财产品，则到期时最坏的情形为零收益或低收益，最好的情形为实现预期最高收益率，总体上到期收益 率在一个区间内浮动；非保本浮动收益理财产品则收益无上限，亏损也无下限。</string>
    
</dict>
</plist>
